@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(70% 55% at 50% 50%, #2a5d77 0%, #184058 18%, #0f2a43 34%, #0a1b30 50%, #071226 66%, #040d1c 80%, #020814 92%, #01040d 97%, #000309 100%), radial-gradient(160% 130% at 10% 10%, rgba(0,0,0,0) 38%, #000309 76%, #000208 100%), radial-gradient(160% 130% at 90% 90%, rgba(0,0,0,0) 38%, #000309 76%, #000208 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 400px;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.login-box:hover {
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.logo img {
  width: 60px;
  margin-bottom: 15px;
  border-radius: 20%;
}

h2 {
  margin-bottom: 5px;
}

p {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

form label {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

input:focus {
  border-color: red;
  outline: none;
  box-shadow: 0 0 4px rgba(123,47,247,0.4);
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 14px;
}

.forgot {
  display: block;
  text-align: left;
  font-size: 13px;
  margin-top: 5px;
  color: #020024;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(to right, #020024, #154B63);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.social-login {
    display: flex;
    gap: 6px;
}

.social-login button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.social-login button:hover {
  background: #f1f1f1;
}

.social-login img {
  width: 18px;
  margin-right: 8px;
}

.divider {
  align-items: center;
  margin: 20px 0;
}

.divider span {
  display: flex;
  text-align: center;
  color: gray;
  font-size: x-small;
  font-weight: 650;
}

.divider span::before,
.divider span::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 5px;
}

.register {
  font-size: 14px;
  margin-top: 15px;
}

.register a {
  color: #020024;
  text-decoration: none;
}

@media (max-width: 500px) {
  .login-box {
    padding: 20px;
  }
}
